*,
::before,
::after {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

body {
  height: 100vh;
}

body,
main {
  background-color: rgb(20, 189, 172);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.x-wrapper,
.o-wrapper {
  display: flex;
  border: 1px solid #545454;
  padding: 0.5em;
  border-radius: 5px;
  flex: 1;
  justify-content: space-between;
  font: bold;
}

.coloredBottomBoarder {
  border-bottom: 3px solid #0da192;
}

header {
  display: flex;
  margin-bottom: 2em;
  width: 304px;
  justify-content: center;
  gap: 1em;
  background-color: #1f1f1f;
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
}

.top-wrapper,
.middle-wrapper,
.bottom-wrapper {
  display: flex;
}
.box {
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
}

.box5 {
  border: 0.22em solid #0da192;
}

.box4,
.box6 {
  border-bottom: 0.22em solid #0da192;
  border-top: 0.22em solid #0da192;
}

.box2,
.box8 {
  border-left: 0.22em solid #0da192;
  border-right: 0.22em solid #0da192;
}

.box:hover,
button:hover {
  background-color: rgba(207, 250, 246, 0.2);
}

footer {
  display: flex;
  margin-top: 2em;
  width: 304px;
  justify-content: center;
  background-color: #1f1f1f;
  padding: 0.4em;
  border-radius: 0.5em;
}

button {
  border: 1px solid #0da192;
  border-radius: 5px;
  padding: 0.8em;
  background-color: #1f1f1f;
  color: rgb(20, 189, 172);
  cursor: pointer;
}

.coloredX {
  color: white; /* X-color */
}

.coloredO {
  color: #545454; /* O-color */
}
